@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background: linear-gradient(to right, #1F1F1F, #292929, #333333);
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}
nav {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.profilePhoto {
    /*background: linear-gradient(#CC063E, #CC063E, #242424, #5E5B64);*/
    border-radius: 150px;
    box-shadow: 0px 0px 10px 0px black;
    margin: 30px;
    justify-content: center;
}
h1 {
    color: #CC063E;
    letter-spacing: 5px;
    font-size: 50px;
    margin: 0;
}
#bio {
    font-size: 20px;
    font-style: italic;
    margin: 5px 0 40px 0;  /*top left bottom right */
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    padding: 10px 50px;
    margin: 10px auto;
    border-radius: 10px;
    height: auto;
    width: 300px;
    background-color: #6b0522;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    padding: 5px;
}
a:hover {
    font-weight: bold;
}
